<nav class="site-nav">
  <ul>
    <li><a href="{{ '/' | relative_url }}" {% if page.url == '/' %}class="active"{% endif %}>Hakkında</a></li>
    <li><a href="{{ '/kariyer/' | relative_url }}" {% if page.url == '/kariyer/' %}class="active"{% endif %}>Kariyer</a></li>
    <li><a href="{{ '/egitim/' | relative_url }}" {% if page.url == '/egitim/' %}class="active"{% endif %}>Eğitim</a></li>
    <li><a href="{{ '/ilanlar/' | relative_url }}" {% if page.url == '/ilanlar/' %}class="active"{% endif %}>İlanlar</a></li>
    <li><a href="{{ '/iletisim/' | relative_url }}" {% if page.url == '/iletisim/' %}class="active"{% endif %}>İletişim</a></li>
  </ul>
</nav>
