{% comment %}
  Devre izi motifi. Matematik eğrileri yerine, elektronik alanına
  gönderme yapan basit bir devre izi + pad + via kullanılıyor.
  Kullanım: {% include signature.html %}
{% endcomment %}
<svg class="signature" width="36" height="18" viewBox="0 0 36 18" xmlns="http://www.w3.org/2000/svg">
  <rect class="pad" x="2" y="10" width="4" height="4" />
  <path class="trace" d="M 6 12 L 16 12 L 16 4 L 32 4" />
  <circle class="via" cx="16" cy="12" r="1.6" />
  <rect class="pad" x="30" y="2" width="4" height="4" />
</svg>
